<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784306939775-800cjs6gc13j68vee8dsnbp8iqgkgic6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784306939775-800cjs6gc13j68vee8dsnbp8iqgkgic6</string>
	<key>API_KEY</key>
	<string>AIzaSyBj7zdT5gPcGhPMhuFE-5Ye1ZpRjpgGqm8</string>
	<key>GCM_SENDER_ID</key>
	<string>784306939775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterkage2k.dnagkung</string>
	<key>PROJECT_ID</key>
	<string>temp-tomato-record</string>
	<key>STORAGE_BUCKET</key>
	<string>temp-tomato-record.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784306939775:ios:f18e2a5de6abd2c7215c4a</string>
</dict>
</plist>